################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/challenge/.vs/challenge
/challenge/challenge/obj
